@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
    scroll-behavior: smooth;
    font-family: "feather-icons";
}

.curspoint {
    cursor: pointer;
}

.tex-color {
    color: #0aad0a;
}

.textColor {
    color: #6d7177;
}

.center {
    display: flex;
    align-items: center;
}

.position {
    position: absolute;
    right: 10px;
    top: 5px;
}

.fontSz {
    font-size: 0.8rem;
    font-weight: 500;
}

.hover:hover {
    background-color: #cdd0cf;
    color: #000;
}

.dropitems {
    border-radius: 7px;
    color: #6d7177;
    cursor: pointer;
    text-decoration: none;
}

.dropimgpostion {
    position: absolute;
    top: 38px;
}

:root {
    --green: (#0aad0a);
}

.texGreen {
    color: var(--green);
}

.bgbtn {
    height: 30px;
    width: 30px;
    background-color: #bfc6c4;
    text-align: center;
}

.bgbtn:hover {
    background-color: #0aad0a;
    color: #f0f3f2;
}

.Locationbtn {
    padding: 7px;
    border-radius: 9px;
    background-color: white;
}

.setPos-1 {
    position: absolute;
    top: 69px;
    right: 40px;
}

.setPos-2 {
    position: absolute;
    right: -28px;
}

.cat-card:hover {
    box-shadow: 5px 5px 6px #f0f3f2, -5px -5px 6px #f0f3f2, 5px 5px 6px #f0f3f2, -5px -5px 6px #f0f3f2;
    border: 1px solid #0aad0a;
    border-radius: 9px;
}

.strS {
    font-size: 0.8rem;
}

.hide {
    position: absolute;
    top: 15px;
    left: 5px;
}

.btnCustom {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 11px;
    border: none;
}

.buybtn {
    font-size: 1.2rem;
    font-weight: 500;
}

.countdown {
    width: 55px;
    height: 55px;
    padding: 8px;
    margin-right: 2px;
}

.heroimgcon {
    top: 50px;
    padding: 15px 50px 0 100px;
    height: 100%;
}

.mrg-sm {
    margin-bottom: 85px;
}

.mrg {
    margin-top: 15px;
}

.dis-res {
    padding: 6px;
}

.nav-list-itm {
    font-size: 0.9rem;
    font-weight: 500;
    vertical-align: text-bottom;
}

.nav-list-itm1 {
    font-size: 1rem;
    font-weight: 500;
    vertical-align: text-bottom;
}

.ftHover:hover {
    color: #0aad0a;
}

.brd-f-link {
    border: 0.8px solid #6d7177;
    border-radius: 7px;
    padding: 1px 5px 3px 5px;
}

.pos {
    right: 15px;
    bottom: 25px;
    position: fixed;
}

.justify-center1 {
    justify-content: end;
}

.payimgresp {
    width: 120px;
}

.pdftcon {
    padding: 40px;
}

.follinkres {
    margin-right: 15px;
}

.qunbtn {
    padding: 0 5px 0 5px;
    background-color: white;
    border: 1px solid #bfc6c4;
}

.qunbtnval {
    padding: 1px 20px 1px 20px;
    background-color: white;
    border-bottom: 1px solid #bfc6c4;
    border-top: 1px solid #bfc6c4;
}

.qunbtn:hover {
    background-color: #cdd0cf;
    color: #000;
}

.badgepos {
    left: 18px;
    top: -5px;
}

.bigbtn {
    background-color: #0aad0a;
    border-radius: 9px;
    padding: 7px;
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.bigbtn2 {
    background-color: #f0f3f2;
    border-radius: 9px;
    padding: 7px;
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-decoration: none;

}

.btnhover:hover {
    background-color: #e3e3e3;
}

.pdrightres {
    padding-right: 80px;
}

.pdleftres {
    padding-left: 80px;
}

.posfixed {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1500;
}

.breadcrumb a {
    text-decoration: none;
    color: #0aad0a;
}

.addmessage1,
.addmessage2,
.addmessage3,
.addmessage4 {
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    background-color: #fff;
    border-radius: 9px;
    color: #000;
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1100;
}

.Br-radius {
    border-radius: 9px;
}

.Br-radius-Top {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.textHover {
    color: #000;
}

.textHover:hover {
    color: #0aad0a;
}

.bg-color {
    background-color: #f0f3f2;
}

.fnt-size {
    font-size: 3rem;
}

.img-scale {
    z-index: 0;
}

.img-scale:hover {
    transform: scale(1.03);
    transition-duration: .3s;
    transition-timing-function: linear;
}

.leader-img-resp {
    display: flex;
    justify-content: space-evenly;
}

.fontSz-2 {
    font-size: 0.7rem;
}

.customwidth {
    max-width: 60%;
}

.bg-white {
    background-color: white;
}

.Qun-btn:focus {
    background-color: #f0f3f2;
    color: white;
}

.wishlisticon1:hover,
.wishlisticon2:hover {
    background-color: #cccfce;
}

.tooltip-msg1 {
    position: absolute;
    top: -35px;
    left: -15px;
    background-color: #000;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 9px;
    font-size: 0.8rem;
    display: none;
}

.tooltip-msg2 {
    position: absolute;
    top: -35px;
    left: -15px;
    background-color: #000;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 9px;
    font-size: 0.8rem;
    display: none;
}

.tooltip-msg1:hover {
    display: block;
}

.arrow-container {
    width: 50%;
}

.img-active {
    border: 1px solid white;
}

.img-active:hover {
    border: 0.1px solid #0aad0a;
}